## ------------------------------------------------------

### Demo for Provider-Token
GITHUB_TOKEN=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

### Demo for generic Password
OCTOCAT_SUPPLY_API_PASSWORD="ffjsdlkviffj4j&*(*("
